
<div class="mb-2 text-center">
    {%- if site.github_username -%}
      <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
        <img class="inline-block h-4 mx-0 p-0" src="/assets/images/icons/github.svg" alt="github.svg">
      </a>
    {%- endif -%}
    {%- if site.linkedin_username -%}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
        <img class="inline-block w-5 mx-0 p-0" src="/assets/images/icons/linkedin.svg" alt="linkedin.svg">
      </a>
    {%- endif -%}
    {%- if site.email -%}
      <a class="u-email" href="mailto:{{ site.email }}">
        <img class="inline-block h-4 mx-0 p-0" src="/assets/images/icons/email.svg" alt="email.svg">
      </a>
    {%- endif -%}
    {%- if site.rss -%}
      <a href="{{ 'feed.xml' | relative_url }}">
        <img class="inline-block h-3 ml-1 mx-0 p-0" src="/assets/images/icons/rss.svg" alt="rss.svg">
      </a>
    {%- endif -%}
  </div>