<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="flex flex-col h-screen justify-between">

    <header class="w-full p-4 shadow-sm">
      <nav class="container mx-auto flex justify-between items-center">
        <a href="{{ site.url }}" class="font-bold text-lg">Rowan Molony</a>
        <div class="space-x-4">
          <a href="{% link _pages/about.md %}">About</a>
          <a href="{% link _pages/how-to.md %}">How To</a>
          <a href="{% link _pages/cv.md %}">CV</a>
        </div>
      </nav>
    </header>

    <main class="flex-grow" aria-label="Content">
      <div class="max-w-2xl mx-auto mt-6 p-4">
        {{ content }}
      </div>
    </main>

    <footer class="w-full p-4 text-sm secondary-text">
      <div class="container mx-auto text-center">
        <a href="{% link _pages/copyright.md %}">&copy; Rowan Molony {{ "now" | date: "%Y" }} </a>
        | <a href="{% link _pages/disclosure.md %}">Disclosure</a>
        | <a href="{% link _pages/privacy.md %}">Privacy</a>
        | <a href="{% link _pages/built-with.md %}">Built With</a>
      </div>
    </footer>
  </body>

</html>
