<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <header class="w-full p-4 shadow-sm">
      <nav class="container mx-auto flex justify-between items-center">
        <a href="{{ site.url }}" class="font-bold text-lg">rowanmolony.com</a>
        <details class="space-x-4 navbar-dropdown">
        <summary>
          <svg viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="10" fill="black" rx="10" ry="10"/>
            <rect y="30" width="100" height="10" fill="black" rx="10" ry="10"/>
            <rect y="60" width="100" height="10" fill="black" rx="10" ry="10"/>
          </svg>
        </summary>
          <ul>
            <li>
              <a href="{% link _pages/about.md %}">About</a>
            </li>
            <li>
              <a href="{% link _pages/how-to.md %}">How To</a>
            </li>
          </ul>
        </details>
      </nav>
    </header>

    <main aria-label="Content">
      {{ content }}
    </main>

    <footer class="w-full p-4 text-sm secondary-text">
      <div class="container mx-auto text-center">
        <a href="{% link _pages/copyright.md %}">&copy; Rowan Molony {{ "now" | date: "%Y" }} </a>
        | <a href="{% link _pages/disclosure.md %}">Disclosure</a>
        | <a href="{% link _pages/privacy.md %}">Privacy</a>
        | <a href="{% link _pages/built-with.md %}">Built With</a>
      </div>
    </footer>
  </body>

</html>
