---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      <div class="wrapper">
        {% include cv-sidebar.html %}
        <div class="main-wrapper">
          {% include career-profile.html %}

          {% unless site.data.data.sidebar.education %}
            {% include education.html %}
          {% endunless %}
    
          {% include experiences.html %}
    
          {% include projects.html %}
    
          {% include publications.html %}

          {% include badges.html %}
          
          {% include skills.html %}

        </div>
      </div>
    </section>
  </article>
</div>


<footer class="footer">
  <div class="text-center">
      <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
      <small class="copyright">{{ site.data.data.footer }}</small>
  </div><!--//container-->
</footer><!--//footer-->
