---
layout: default
---

<header class="text-center">
  <h1 class="text-3xl" itemprop="name headline">{{ page.title | escape }}</h1>
  <p class="text-l" >
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    {%- if page.author -%}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>
    {%- endif -%}</p>
</header>

<iframe id="rowans-wiki"
        class="w-full"
        src="{{ page.wiki }}"></iframe>

<a href="{{ page.url | relative_url }}" hidden></a>

<script>
  const iframe = document.querySelector('#rowans-wiki');

  iframe.onload = function() {
    const iframeBody = iframe.contentWindow.document.body;

    const resizeIframe = () => {
      // Temporarily set height to auto or 0 to force a recalculation
      iframe.style.height = 'auto';

      // Use a slight delay of 10ms to allow the browser to recalculate the layout
      setTimeout(() => {
        iframe.style.height = iframeBody.scrollHeight + 'px';
      }, 10);
    };

    // Initial resize on load
    resizeIframe();

    // Set up MutationObserver to watch for content changes
    const observer = new MutationObserver(resizeIframe);

    // Observe the body and html elements
    if (iframeBody) {
      observer.observe(iframeBody, {
        childList: true,
        attributes: true,
        subtree: true,
        characterData: true
      });
    }
  };
</script>