---
layout: default
---

<header class="text-center">
  <h1 class="text-3xl" itemprop="name headline">{{ page.title | escape }}</h1>
  <p class="text-l" >
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    {%- if page.author -%}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>
    {%- endif -%}</p>
</header>

{{ content }}

<a href="{{ page.url | relative_url }}" hidden></a>

<script>
  const iframe = document.querySelector('#rowans-wiki');

  iframe.onload = function() {
    const iframeBody = iframe.contentWindow.document.body;

    const resizeIframe = () => {
      // Temporarily set height to auto or 0 to potentially force a recalculation
      iframe.style.height = 'auto';

      // Use a slight delay to allow the browser to recalculate the layout
      setTimeout(() => {
        let contentHeight = 0;

        // Attempt to get the most accurate height after potential recalculation
        if (iframeBody) {
          contentHeight = Math.max(contentHeight, iframeBody.scrollHeight || 0);
          contentHeight = Math.max(contentHeight, iframeBody.offsetHeight || 0);
        }

        iframe.style.height = contentHeight + 'px';

      }, 10); // A delay of 0ms or a small value like 10ms can be sufficient
    };

    // Initial resize on load
    resizeIframe();

    // Set up MutationObserver to watch for content changes
    const observer = new MutationObserver(resizeIframe);

    // Observe the body and html elements
    if (iframeBody) {
      observer.observe(iframeBody, {
        childList: true,
        attributes: true,
        subtree: true,
        characterData: true
      });
    }
  };
</script>